[main]
host = https://www.transifex.com

[abaninja.texts]
source_file = resources/lang/en/texts.php
source_lang = en
type = PHP_ARRAY
file_filter = resources/lang/<lang>/texts.php

[abaninja.pagination]
source_file = resources/lang/en/pagination.php
source_lang = en
type = PHP_ARRAY
file_filter = resources/lang/<lang>/pagination.php

[abaninja.passwords]
source_file = resources/lang/en/passwords.php
source_lang = en
type = PHP_ARRAY
file_filter = resources/lang/<lang>/passwords.php

[abaninja.reminders]
source_file = resources/lang/en/reminders.php
source_lang = en
type = PHP_ARRAY
file_filter = resources/lang/<lang>/reminders.php

#[abaninja.validation]
#source_file = resources/lang/en/validation.php
#source_lang = en
#type = PHP_ARRAY
#file_filter = resources/lang/<lang>/validation.php

#[abaninja.country]
#source_file = database/seeds/CountryTranslations.php
#source_lang = en
#type = PHP_ARRAY
#file_filter = database/seeds/CountryTranslations_<lang>.php

#[abaninja.currency]
#source_file = database/seeds/CurrencyTranslations.php
#source_lang = en
#type = PHP_ARRAY
#file_filter = database/seeds/CurrencyTranslations_<lang>.php

#[abaninja.industry]
#source_file = database/seeds/IndustryTranslations.php
#source_lang = en
#type = PHP_ARRAY
#file_filter = database/seeds/IndustryTranslations_<lang>.php

#[abaninja.ninjalanguage]
#source_file = database/seeds/LanguageTranslations.php
#source_lang = en
#type = PHP_ARRAY
#file_filter = database/seeds/LanguageTranslations_<lang>.php

#[abaninja.paymentterms]
#source_file = database/seeds/PaymentTermsTranslations.php
#source_lang = en
#type = PHP_ARRAY
#file_filter = database/seeds/PaymentTermsTranslations_<lang>.php
