[main]
host = https://www.transifex.com

[abaninja.texts]
source_file = resources/lang/de/texts.php
source_lang = de
type = PHP_ARRAY
file_filter = resources/lang/<lang>/texts.php

[abaninja.pagination]
source_file = resources/lang/de/pagination.php
source_lang = de
type = PHP_ARRAY
file_filter = resources/lang/<lang>/pagination.php

[abaninja.passwords]
source_file = resources/lang/de/passwords.php
source_lang = de
type = PHP_ARRAY
file_filter = resources/lang/<lang>/passwords.php

[abaninja.reminders]
source_file = resources/lang/de/reminders.php
source_lang = de
type = PHP_ARRAY
file_filter = resources/lang/<lang>/reminders.php
